.mainContent .pokemon img {
  height: 96px;
}
.pokemon {
  text-align: center;
  align-items: center;
}
.img-btn {
  height: 96px;
  position: absolute;
  border: 0px;
  width: 30px;
}
.img-btn:hover {
  cursor: pointer;
  background-color: rgba(49, 46, 42, 0.384);
}
.left {
  margin-left: -28px;
}
.pokemon-btn {
  margin: 5px 4px 0px 7px;
  position: relative;
  height: 30px;
  width: 73px;
}
