.social-footer {
  margin: 30px auto;
  text-align: center;
}
.social-footer .social {
  margin: 15px 10px;
  width: 2em;
  height: 2em;
}
.social-footer .social:hover {
  cursor: pointer;
}
.footer .copyright {
  bottom: 25px;
  color: rgb(0, 0, 0, 0.5);
  display: block;
  font-weight: 400;
  font-family: serif;
  font-size: 15px;
  margin: 0px 10px 50px 10px;
  position: relative;
  text-align: center;
}
.a-link {
  color: currentColor;
}
