.post-table {
  width: 100%;
  font-size: 20px;
}
.post-table,
th,
td {
  border: 1px solid rgba(92, 89, 89, 0.507);
  height: 35px;
  vertical-align: middle;
}
.post-table .a-link {
  color: blue;
}
