.mainContent {
  margin: auto;
  width: 85%;
}
.mainContent span {
  font-size: 15px;
}
.table-header {
  background-color: bisque;
}
.table-header:hover {
  cursor: pointer;
}
.input-field {
  margin-top: 15px;
  margin-bottom: 15px;
}
.input-field input {
  width: 100%;
  max-width: 300px;
}

.mainContent .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}
.mainContent .content h2 {
  margin: 15px 0px;
}
.mainContent .search-input {
  border-radius: 13px;
  margin-bottom: 30px;
  height: 30px;
  border-color: darkkhaki;
}
.sign-form {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.list-posts .title {
  color: rgb(0, 0, 0, 0.7);
  display: block;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: -2px;
  margin: 10px 0px;
}
.list-posts .title:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 1);
}
.list-posts .description {
  color: rgb(0, 0, 0, 0.7);
  display: block;
  font-size: 20px;
  margin: 10px 0px;
}
.list-posts .author {
  color: rgb(0, 0, 0, 0.5);
  display: block;
  font-size: 15px;
  font-weight: 400;
  font-family: serif;
  margin: 10px 0px;
}
.list-posts .edit-post {
  text-align: right;
}
.list-posts .edit-post a {
  opacity: 50%;
  color: #000;
}
.list-posts .edit-post a:hover {
  cursor: pointer;
  opacity: 100%;
}
