.control {
  text-align: center;
  position: relative;
  top: -40px;
}
.control-btn {
  margin: 5px 15px 15px 15px;
}
.showValue {
  text-align: center;
}
.showValue h1 {
  font-size: 25px;
  margin-top: 15px;
}
